<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key = "connectionstring" value = "w2tVGx1HJy84aWi4ldpJupNLbmx2X1vOq8JiZoQdhB6xC/VOKZvrqhGWpu/ljczU3n3+doNZ3vNuvtaFmbN97CwNwj5gKyQoKAqkZ2MkelgangdSQddbYmQnV4xfbUPn1t1iE31/BmWHcahp4fvkWA==" />
		<add key = "encryptKey" value = "f14za5798a4e4353bbce2ea1316z1016" />
	</appSettings>
</configuration>